body {
    background-color: #36393f; /* Color de fondo similar al de Discord */
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    scroll-behavior: smooth; /* Para un scroll suave */
}

.navbar {
    background-color: #2c2f33; /* Color de la botonera */
    padding: 1em;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    background-color: #23272a;
    color: white;
}

.section {
    padding: 50px 20px;
    text-align: center;
}

#team-section {
    background-color: #2c2f33;
    padding-top: 60px;
    padding-bottom: 60px;
}

.team-cards {
    display: flex;
    flex-wrap: wrap; /* Para ajustar las tarjetas */
    justify-content: center;
    gap: 20px;
    opacity: 0; /* Oculto inicialmente */
    transform: translateY(20px); /* Posición inicial desplazada */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out; /* Animación */
}

.card {
    background-color: #23272a;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    font-size: 14px;
}

/* Animación de entrada */
.visible {
    opacity: 1; /* Se hace visible */
    transform: translateY(0); /* Regresa a su posición original */
}
